/* CSS for mobile */
body {
	margin: 0 !important;
	padding: 0 !important; 
}
.map path {
	stroke-width: 0.5px;
	fill: none;
}
.map circle {
	stroke: black;
	stroke-width: 0.5px;
}
.boston path { 
	stroke: gray;
}
.neighborhoods path { 
	stroke: lightgray;
}
.neighborhood.highlight { 
	stroke: red;
	stroke-width:  2px;
	/*
	fill: rgba(255,0,0,0.3);
	*/
}
.white.white_1 { fill: #eff3ff; } .white.white_2,.may.white_2 { fill: #bdd7e7; } .white.white_3,.may.white_3 { fill: #6baed6; } .white.white_4,.may.white_4 { fill: #2171b5; }
.opoc.opoc_1 { fill: #feedde; } .opoc.opoc_2 { fill: #fdbe85; } .opoc.opoc_3,.may.opoc_3 { fill: #fd8d3c; } .opoc.opoc_4,.may.opoc_4 { fill: #d94701; }
.black.black_1 { fill: #f2f0f7; } .black.black_2 { fill: #cbc9e2; } .black.black_3,.may.black_3 { fill: #9e9ac8; } .black.black_4,.may.black_4 { fill: #6a51a3; }
.poc.poc_1 { fill: #edf8e9; } .poc.poc_2 { fill: #bae4b3; } .poc.poc_3,.may.poc_3 { fill: #74c476; } .poc.poc_4,.may.poc_4 { fill: #238b45; }
.incidents { fill-opacity: 0.7; }
.incidents_1 { fill: #fee5d9 !important; } .incidents_2 { fill: #fcae91; } .incidents_3 { fill: #fb6a4a; } .incidents_4 { fill: #cb181d; }

small { display: none; }
.highlight small { 
	display: inline; 
	position: relative; 
	font-size: .5em;

}
blockquote { 
	text-align: justify;
}
ul {
	/*
	list-style-type: circle;
	list-style-position: inside;
	*/
	margin-left: 2.5em;
}
.chart { max-width: 100%;}
.tip { display: none; }
.highlight .tip { 
	display: block;
	position: absolute;
	font-size: 0.7em;
	padding: 1em;
}
ul {
	/*
	padding-left: 10px;
	list-style-type: none;
	*/
}
.tip ul  {
	padding: 0;
}
/* MOVIE CONTAINER */
#movie {
	width: 0 !important;
	max-width: 0 !important;
	padding: 0;
	margin: 0;
	margin-bottom: 100vh;
}
#movie > div { 
	position: relative; 
	top: 50vh;
	width: 100vw;
	margin-bottom: 75vh;
	color: lightgray;
}
#movie > div.highlight { 
	color: black;
}
#movie div.short_scene {
	top: 25vh !important;
	margin-bottom: 75vh;
}
#movie div.last_scene {
	top: 0;
	margin-bottom: 50vh;
}
#movie div p {
	font-size: 1.3em;
	text-align: left;
	padding: 0.5em;
	padding-right: 1em;
}
.highlight .red { 
	background-color: rgba(255, 0, 0, 0.5);
	color: black;
}
.highlight .purple { 
	background-color: rgba(193, 144, 212, 0.5);
	color: black;
}
#intro { 
	height: 100%;
	margin-bottom: 0 !important;
	top: 0 !important;
}
#start { 
	top: 0 !important;
}
#intro h1 {
	padding: 1.5em;
	text-align: center;
}
/* FIXED CONTAINER */
#fixed {
	position: fixed;
	background-color: white;
	top: 50vh;
	left: 0;
	width: 100%;
	height: 50%;
	padding: 0 !important;
	margin: 0 !important;
}
#play_ctrl { 
	position: absolute;
	top: 70%;
	left: 70%;
	width: 30%;
}
#a_map { 
	height: 100%;
}
#play_ctrl img{ 
	width: 25px;
	height: 25px;
}
.content { 
	font-size: 0.5em;
	padding: 0;
}
.content p {
	margin: 0;
}
.content ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
ul.faq { 
	list-style-type: circle;
	margin-left: 1.5em;
}
.content li  {
	padding: 0;
}
/* CSS for tablets 
@media (min-width: 768px) {
	#intro { 
		height: 100vh;
		background-color: red;
	}
	#movie .scene { 
		margin-bottom: 50%;
	}
}
*/
/* CSS for desktop */
@media (min-width: 566px) {
	#fixed {
		border: none;
		left: 55%;
		top: 0;
		width: 45%;
		height: 100%;

	}
	#movie > div { 
		width: 50vw;
		font-size: 1.3em;
	}
	.content {
		font-size: 0.9em !important;
	}
}
@media (min-width: 992px) {
	#movie { 
		padding: 15px !important;
	}
	#movie > div {
		width: 50vw;
		font-size: 2em;
		padding: 10px;
		margin-bottom: 25vh;
	}
	#intro h1 {
		font-size: 3em;
	}
	#play_ctrl img{ 
		width: 50px;
		height: 50px;
	}
}
/* CSS for large devices 
@media (min-width: 1200px) {
	body { background-color: yellow; }
}
*/

